# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\rieke\Data Analytics\Achievment 4\02-2023_Instacart Basket Analysis\02 Data'

In [3]:
path

'C:\\Users\\rieke\\Data Analytics\\Achievment 4\\02-2023_Instacart Basket Analysis\\02 Data'

In [4]:
df_prods = pd.read_csv(os.path.join(path, 'Original Data','products.csv' ),index_col=False)

In [ ]:
df_prods

In [6]:
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data','orders_wrangled.csv'),index_col=False)

In [ ]:
df_ords

In [8]:
df_ords = df_ords.drop(columns=['Unnamed: 0'])

In [ ]:
df_ords

In [ ]:
df_ords.describe()

In [11]:
# Create a dataframe

df_test = pd.DataFrame()

In [12]:
# Create a mixed type column

df_test['mix'] = ['a', 'b', 1, True]

In [13]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [14]:
#finding mixed columns
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [15]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [16]:
# finding NaN - new data set
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [ ]:
df_nan

In [18]:
df_prods.shape

(49693, 5)

In [19]:
#filter out NaN
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [ ]:
df_prods_clean

In [21]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [ ]:
df_dups

In [23]:
df_prods_clean.shape

(49677, 5)

In [24]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [25]:
df_prods_clean_no_dups.shape

(49672, 5)

In [26]:
df_prods_clean_no_dups.to_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'))

# Start with Tasks

## Import Orders Data set

In [27]:
df_ords = pd.read_csv(os.path.join(path, 'Prepared Data','orders_wrangled.csv' ),index_col=False)

## 2) Descripe orders, share whether anything about the data looks off or should be investigated further

In [ ]:
df_ords.head()

In [29]:
df_ords = df_ords.drop(columns=['Unnamed: 0'])

In [ ]:
df_ords.describe()

### taking care of the hint to have an eye on min & max values I can only say that it´s a little strange to me to see the hour of days for ordering to be between 0 and 2,3 while the day is having 24 hours at all. it´s hard to imagine most people like processing their orders at 0-2 am.
compared to the above header lines I would guess that data are in a wrong dtype, what leads to confusion here

## 3) Check for mixed-type data in your df_ords dataframe.

In [31]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [32]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_type              object
 3   order_number            int64
 4   orders_day_of_week      int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

### no result for mixed data fromn this check, nevertheless I`d like to have the floating as int64, equivalent to the other day-variables

## 4) If you find mixed-type data, fix it. The column in question should contain observations of a single data type.

### df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].astype('int64')

### ...not working, because of NaN values where there´s no record

## 5) Run a check for missing values in your df_ords dataframe.

In [33]:
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_type                     0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

### as recognized before there´s some kind of missing data in the days since prior order. I wouldn´t touch this further because I expect the recorded NaNs to mark the trial orders for the customers. of course trial orders can´t be compared to another one made before.

## 6) Address the missing values using an appropriate method

### I would keep this values, because shown as NaN they are already clearely flaged. Still asuming that these missing values are occuring at each trial order it is not an option to delete them.

## 7) Run a check for duplicate values in your df_ords data

In [34]:
df_dups_ord = df_ords[df_ords.duplicated()]

In [35]:
df_dups_ord

Empty DataFrame
Columns: [order_id, user_id, order_type, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

### no duplicates found

## 8) Address the duplicates using an appropriate method.

### can´t apply any appropriate method as there are no duplicates

## 9) Export your final, cleaned df_prods and df_ords data as “.csv” files in your “Prepared Data” folder and give them appropriate, succinct names.

In [36]:
df_ords.to_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'))

In [37]:
df_ords.shape()

TypeError: 'tuple' object is not callable