In [1]:
# import Libraries
import os
import pandas as pd
import numpy as np

In [2]:
path = r'C:\Users\rieke\Data Analytics\Achievment 4\02-2023_Instacart Basket Analysis\02 Data'

In [3]:
path

'C:\\Users\\rieke\\Data Analytics\\Achievment 4\\02-2023_Instacart Basket Analysis\\02 Data'

## 3) import dataset orders_products_combined

In [7]:
ords_prods_comb = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [9]:
ords_prods_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

## 4) Check the shape

In [10]:
ords_prods_comb.shape

(32434489, 10)

In [23]:
ords_prods_comb.drop(columns = {'_merge'}, inplace = True)

## 5) determine a suitable way to combine Ords_Prods_comb with products DF

In [13]:

prods = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'), index_col = None)

In [14]:
prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
prods.shape

(49672, 6)

In [18]:
prods.drop(columns = {'Unnamed: 0'}, inplace = True)

In [24]:
prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int32
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(2), int8(1), object(1)
memory usage: 921.8+ KB

In [20]:
# Change types for ords data set

prods['product_id']=prods['product_id'].astype('int32')
prods['aisle_id']=prods['aisle_id'].astype('int32')
prods['department_id']=prods['department_id'].astype('int8')
prods['prices']=prods['prices'].astype('float16')

In [25]:
prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int32
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(2), int8(1), object(1)
memory usage: 921.8+ KB

#### had to go back and delete the former '_merge' flag to avoid error on the command

In [26]:
df_merged_largest = ords_prods_comb.merge(prods, on = 'product_id', indicator = 'merge2')

In [27]:
df_merged_largest.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [30]:
df_merged_largest.shape

(32404859, 14)

## 6) Confirm the results of the merge using the merge flag.

In [29]:
df_merged_largest['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

#### I do not dare using the outer join because of my RAM...

## 7) Export the newly created dataframe as orders_products_merged in a suitable format

In [31]:
df_merged_largest.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged.pkl'))