In [1]:
# Import Libraries
import os
import numpy as np
import pandas as pd

In [2]:
# set path
path = r'C:\Users\rieke\Data Analytics\Achievment 4\02-2023_Instacart Basket Analysis\02 Data'

In [3]:
path

'C:\\Users\\rieke\\Data Analytics\\Achievment 4\\02-2023_Instacart Basket Analysis\\02 Data'

In [5]:
# import data sets 
ords = pd.read_csv(os.path.join(path, 'Prepared Data', 'orders_checked.csv'), index_col = None)
ords_prods = pd.read_csv(os.path.join(path, 'Original Data', 'order_products_prior.csv'), index_col = None)

# checking dimensions

### start working on df ords an its dimension

In [10]:
ords.shape

(3421083, 8)

In [11]:
ords.head()

,Unnamed: 0,order_id,user_id,order_type,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [14]:
ords.columns

Index(['Unnamed: 0', 'order_id', 'user_id', 'order_type', 'order_number',
       'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [15]:
ords.drop(columns = {'order_type', 'Unnamed: 0'}, inplace = True)

In [17]:
ords.rename(columns = {'order_hour_of_day':'order_time_of_day'}, inplace = True)

In [18]:
ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order'],
      dtype='object')

In [19]:
ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_time_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [20]:
# Change types for ords data set

ords['order_id']=ords['order_id'].astype('int32')
ords['user_id'] = ords['user_id'].astype('int32')
ords['order_number']=ords['order_number'].astype('int8')
ords['orders_day_of_week']=ords['orders_day_of_week'].astype('int8')
ords['order_time_of_day']=ords['order_time_of_day'].astype('int8')
ords['days_since_prior_order']=ords['days_since_prior_order'].astype('float16')

In [21]:
ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int32(2), int8(3)
memory usage: 42.4 MB

### start working on df ords_prods and its dimension

In [12]:
ords_prods.shape

(32434489, 4)

In [13]:
ords_prods.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [22]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [23]:
# Change types for ords prods data set 

ords_prods['product_id'] =ords_prods['product_id'].astype('int32')
ords_prods['reordered']=ords_prods['reordered'].astype('int8')
ords_prods['add_to_cart_order']=ords_prods['add_to_cart_order'].astype('int32')
ords_prods['order_id']=ords_prods['order_id'].astype('int32')

In [24]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

## continue on Exercise

In [27]:
# merge data sets (reworked due to dimension issues)
df_merged_large = ords.merge(ords_prods, on = 'order_id', indicator = True)

In [28]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [29]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [31]:
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))